  
  
    body {
      font-family: 'Lateef', serif;
      background-color: white;
      transition: background-color  2.4s,
      color 2.4s;
    }
  
 html {
   transition: margin 2.4s, border-radius 2.4s, width 2.4s, height 2.4s, background-color  2.4s, color 2.4s;
 } 
  
   #header {grid-area: f;
    background-color: #333;
    height: 100px;
    color: #c0c0e0f6;
    border-radius: 20px;
    transition: color 2.4s, background-color  2.4s;
   }
  
  #content {grid-area:midle;
   height: 200px;
   color: black;
   transition: color 2.4s;
    }
  
   #footer {grid-area: ft;
    /*height: 200px;*/
   }
  
   #footer2 {grid-area: ft2;
    /*height: 200px;*/
   }
  
  img {
    transition: margin 2.4s, border-radius 2s, width 1s, height 1s, background-color  2.4s, dissapear 1s,
    appears 1s, transform 1s;
  }
  
   button {
     font-size: 20pt;
     border: solid black;
     /*padding:2px;*/
     margin: 20px;
     border-radius: 20px;
     width:170px;
     height:60px;
     transition: margin 2.4s, border-radius 2.4s, width 2.4s, height 2.4s, background-color  2.4s;
   }
  
  

   #t0 {background-color: #16b60ef7;
     width: 190px;
     height: 80px;
     font-size: 22pt;
      transition: margin 2.4s, border-radius 2.4s, width 2.4s, height 2.4s,background-color  2.4s;
   } 
  
 
   #white {background-color: #e7e7e7;
   transition: background-color 2.4s;
    
   }
 
   #black {background-color: #555555;
    transition: background-color  2.4s;
   
   }
  
   .layout1 {display:flex;
   flex-direction: row;
   align-items:center ;
   justify-content:center ;
   transition: margin 2.4s, border-radius 2.4s, width 2.4s, height 2.4s, background-color  2.4s;
   }
  
    #layout {
    display:grid;
    background-color:#0c3944a8;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    border:5px solid #f9f96a2a;
    grid-template-areas:
    "f  "
    "midle"
    "ft  "
    "ft2";
    width:100%;
      font-size: 40pt;
      border-radius: 20px;
      transition: margin 2.4s, border-radius 2.4s, width 2.4s, height 2.4s,background-color  2.4s;
    }

   #clickHere {
    height :1300px;
    /*border: 5px solid yellow;*/
    display: flex;
    align-items:center ;
    justify-content:center ;
    font-size: 40pt;
    color:#1a703f;
    transition: margin 2.4s, border-radius 2.4s, width 2.4s, height 2.4s, background-color  2.4s;
   }
 
 
 
